.pet-imagen {
  width: 13px;
  height: 250px;
  flex-wrap: wrap !important;
}
.pet-boton{
  background-color: #61cb2bb3;
  border-color: #61cb2bb3;
  padding: 4px 10px 10px;
  font-weight: 500;
  border-radius: 20px;
  flex-wrap: wrap !important;
}
