*{
    padding: 0;
    margin: 0;
    box-sizing: border-box
}
.login-page {
   width: 100%;
    padding-top: 40px;
    text-align: center;
    align-items: center;
    max-width: 100%; 
}

.login-navbar{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: auto;
}
.login-footer{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    padding: 20px;
}

.login-card {
    justify-content: center !important;
    align-items: center;
    width: 100%;
    max-width: 500px;
    background: #fff;
    border-radius: 25px;
    padding: 70px 70px;
    box-shadow: 0 0 25px rgba(222, 214, 255, 0.35);
    border: 26px unset #f9ecfc;
}

.login-title {
    background: #f4ebf2;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    font-size: 36px !important;
    color: #7b0e67;
    font-weight: bold;
    margin-bottom: 25px;
}

.login-subtitle {
    font-size: 17px;
    color: #444;
    margin-bottom: 25px;
}

.login-register-link {
    color: #7b0e67;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}

.login-register-link:hover {
    color: #d63384;
}

.login-label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #444;
}

.login-input {
    width: 100%;
    padding: 14px 20px;
    border-radius: 35px;
    border: 1px solid #ddd;
    background: #fafafa;
    margin-bottom: 18px;
    font-size: 16px;
    outline: none;
    transition: 0.2s;
}

.login-input:focus {
    border-color: #d44f8c;
    box-shadow: 0 0 8px rgba(212, 79, 140, 0.3);
}

.login-btn {
    width: 100%;
    padding: 12px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 17px;
    cursor: pointer;
    margin-top: 10px;
}

.login-btn:hover {
    background: #005fcc;
}

.login-forgot-container {
    text-align: center;
    margin-top: 20px;
}

.login-forgot {
    color: #7b0e67;
    text-decoration: underline;
    font-size: 15px;
}

.login-forgot:hover {
    color: #d63384;
}